.page-logo .inside{
    color:#0b9557;
}
.page-logo .worth {
color: #35548a;
}
body {
    padding:0px 20px;
}
.background {
background: #16151a;

}
.main-container {
    background: #202124;
    max-width: 1200px;
    margin:auto;
    padding-left:20px;
    min-height: 100vh;
}
.line-hor {
    height: 1px;
    width: 100%;
    background:#35363a;

}

.line-ver {
    width:1px;
    height: 100%;
    background:hsl(228, 5%, 22%);
}

.txt-content {
    color: #ffffff;
}
.header-outer {
    padding: 10px;
}
.store-btn {
    background: linear-gradient(to bottom,#f8e6b8 0,#f3d686 6%,#ebb62c 100%);
    display:inline-block;
    color: #000000;
    border-radius: 20px;
    padding:4px 8px;
    position: absolute;
    bottom:30px;
    left: 12px;
    white-space: nowrap;
    font-size:0.8rem;
    cursor:pointer;
    user-select: none;
}
.flipkart-btn {
    display:inline-block;display:inline-block;
    position: absolute;
    bottom:30px;
    left: 12px;
}
.iw-card {
    width: 220px;
    border-radius: 12px;
    display: inline-block;
    background: #35363a;
    max-height: 280px;
    overflow: hidden;
    margin-right:16px;
    white-space: normal;
    text-align: left;
}
.iw-card img {
    
    height: 150px;
}
.iw-card .flipkart-btn img {
    height: auto;
}
.amazon-aff-image {
    width: 100%;
    display: inline-block;
    background: white;
    text-align: center;
}
.card-text-area {
    display: block;
    height: 150px;
    color:#ffffff;
    padding: 12px;
    padding-top: 0px;
    position: relative;
    
}
.card-text-area .title {
    font-size:0.9rem;
}
.card-text-area .spec {
    font-size: 0.7rem;
    color: #c7c1c1;
}
.mobile-section {
    margin-top: 28px;
    text-align: center;
}

.section-title {
    font-size:1.2rem;
    text-align: left;
}
.amazon-title {
    cursor: pointer;
    user-select: none;
    color:#ebb62c;
    text-decoration: none;
}
.title-small {
    font-size:0.8rem;
    color: #767679;
}
.cards-holder {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space:nowrap;
    height: 300px;
    margin-top:20px;
}
.cards-holder:hover {
    overflow-x: scroll;
}
.custom-scroll {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
  }
  .custom-scroll::-webkit-scrollbar {
    width: 11px;
    height: 8px;
  }
  .custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #90A4AE none;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: none;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #90A4AE ;
    border-radius: 6px;
    
  }
  @media only screen and (max-width: 600px) {
    .cards-holder {
        overflow-x: auto;
        overflow-y: hidden;
        white-space:nowrap;
        height: 310px;
    }
    .custom-scroll::-webkit-scrollbar {
        width: 11px;
        height: 0px;
      }
  }